# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/
log.txt

# Visual Studio
# =========
*.suo
*.ntvs*
*.njsproj
*.user
.vs

# Backend
bin
obj
packages

# Test
TestResults
failures
screenshots

# dependencies
node_modules/

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log